* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto Slab", serif;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #222831;
  color: #fff;
}

.hasil {
  background-color: crimson;
  width: 35%;
  height: 400px;
  margin: 100px auto ;
}

.header {
  color: #fff;
  margin-left: 20px;
  padding: 10px;
}

.content-hasil {
  padding-top: 20px;
  margin: 0px auto;
  width: 90%;
}


.content-hasil img {
  margin: 0px auto;
  width: 100%;
  height: 300px;
}

.container {
  width: 100%;
  display: flex;
  margin: 20px auto;
}

.codingaan {
  background-color: crimson;
  height: 110vh;
  width: 30%;
  margin: 30px auto;
} 

.header-coding {
  margin-top: 10px;
  border-radius: 10px;
  padding: 10px;
  background-color: #222831;
  width: 80%;
  margin: 10px auto;
}

.codingan-content {
  background-color: #222831;
  width: 80%;
  margin: 0px auto;
  height: 90%;
}

.text {
  font-size: 16px;
  width: 100%;
  height: 100%;
  overflow: auto;
}

@media screen and (max-width: 560px) {
  .hasil {
    width: 90%;
  }
   
  .container {
    flex-direction: column;
  }

  .codingaan {
    width: 90%;
  }
}